@import './base.css';

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/* List通用样式 start */
.item-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  background: #f2f2f2;
  color: #333;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* List通用样式 end */
/* 编辑表单通用样式 start */
.confirm-container {
  
}
.edit-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.form-wrapper {
  margin-bottom: 20px;
  margin: 20px;
  /* max-height: 300px; */
  overflow-y: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: #f2f2f2;
}

/* 编辑表单通用样式 end */


